# pip install -r Requirements.txt

aiofiles             
annotated-types      
anyio                
appopener            
certifi              
cffi                 
charset-normalizer   
colorama             
comtypes             
flatbuffers          
future               
fuzzywuzzy           
h11                  
httpcore             
httpx                
idna                 
iso8601              
jsonpatch            
jsonpointer          
langchain            
langchain-core       
langgraph            
langgraph-checkpoint 
langgraph-prebuilt   
langgraph-sdk        
langsmith            
livekit              
markdown-it-py       
mdurl                
mpmath               
npm                  
numpy                
optional-django      
orjson               
ormsgpack            
packaging            
pip                  
protobuf             
psutil               
pycparser            
pydantic             
pydantic_core        
Pygments             
PyMsgBox             
pyperclip            
pypiwin32            
pyserial             
PySide6              
PySide6_Addons       
PySide6_Essentials   
pyttsx3              
pywin32              
PyYAML               
regex                
requests             
requests-toolbelt    
rich                 
serial               
shiboken6            
sniffio              
sounddevice          
srt                  
sympy                
tenacity             
tqdm                 
types-protobuf       
typing_extensions    
typing-inspection    
urllib3              
vosk                 
websockets           
wheel                
xxhash               
zipp                 
zstandard            
